.dep-headline {
    padding-top: 60px;
    text-align: center;
    font-weight: 700;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.image-container {
    flex: 1;
    text-align: right;
}

.text-container {
    flex: 2;
}

.image-container img {
    width: 300px;
    border-radius: 20px;
}

.image-text-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.text-container {
    flex: 2;
    padding: 30px 30px 30px 30px;
}

.image-container {
    flex: 1;
    text-align: right;
}

@media (max-width: 768px) {
    .image-text-section {
        flex-direction: column;
    }

    .image-container {
        text-align: center;
    }
}

.text-container h2{
    font-size: 30px;
    font-weight: 600;
}

.text-container p {
    font-size: 20px;
}

.box {
    display: flex;
    max-width: 90vw;
    background-color: #b1b1b1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    justify-content: center;
    margin: auto;
}