body {
    background: #b4b4b4;
}

.demo {
    background: #888888;
}

.our-team {
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    z-index: 1;
    position: relative;
}

.our-team:before,
.our-team:after {
    content: "";
    width: 100%;
    height: 103%;
    background: #ff3232;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    transform: translateY(-50%) scaleX(0.3);
    transition: all 0.3s ease 0s;
}

.our-team:after {
    width: 63%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(0.25);
}

.our-team:hover:before {
    transform: translateY(-50%) scaleX(0.5);
}

.our-team:hover:after {
    transform: translate(-50%, -50%) scaleY(0.5);
}

.our-team img {
    width: 60%;
    height: auto;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    border: 2px solid #ff3232;
}

.our-team .team-content {
    width: 53%;
    padding: 15px 0 20px;
    background: #ff3232;
    position: absolute;
    bottom: 50px;
    left: 50%;
    opacity: 0;
    -webkit-clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
    transform: translateX(-50%);
    transition: all 0.3s cubic-bezier(0.5, 0.2, 0.1, 0.9);
}

.our-team:hover .team-content {
    bottom: 10px;
    opacity: 1;
}

.our-team .title {
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    margin: 0;
}

.our-team .post {
    display: block;
    font-size: 12px;
    color: #fff;
}

.our-team .dept {
    display: block;
    font-size: 12px;
    color: #fff;
}

@media only screen and (max-width: 990px) {
    .our-team {
        margin-bottom: 30px;
    }
}

.accordion {
    margin: 60px auto;
    width: 75vw;
}

.accordion li {
    list-style: none;
    vertical-align: middle;
    width: 100%;
    margin: 20px;
    border-radius: 8px;
    background: #b4b4b4;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
               -6px -6px 10px -1px rgba(255, 255, 255, 1);
               text-align: center;
}

.accordion li label {
    padding: 10px;
    margin-top: 10px;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    font-family: 'Trajan Pro', sans-serif;
}

input[type="radio"] {
    display: none;
}

.accordion .content {
    padding: 0 10px;
    height: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.headline {
    text-align: center;
}

.accordion input[type="radio"]:checked + label + .content {
    max-height: 600px;
    padding: 10px 10px 20px;
}