.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  background-color: #4d4d4d;
  color: aliceblue;
}

.footer .logo-section {
  flex: 1 1 200px;
  text-align: center;
}

.footer .logo-section img {
  max-width: 370px;
}

.footer .logo-section p {
  margin-top: 10px;
  font-size: 14px;
}

.footer .map-section {
  flex: 1 1 300px;
  text-align: center;
}

.footer .map-section iframe {
  border: none;
  width: 100%;
  max-width: 300px;
  height: 200px;
}

.footer .coordinator-section {
  flex: 1 1 300px;
}

.footer .coordinator-section h3 {
  text-align: center;
}

.footer .coordinator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.footer .coordinator img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

.footer .coordinator div {
  display: flex;
  flex-direction: column;
}

.footer .coordinator div span {
  font-size: 14px;
}

.horizontal-line {
  width: 100%;
  border-top: 1px solid #555;
}

.copyright {
  text-align: center;
  color: aliceblue;
  padding: 10px;
  font-size: 12px;
  background-color: #111;
}

@media (max-width: 768px) {
  .footer {
      flex-direction: column;
      align-items: center;
  }

  .footer .logo-section, .footer .map-section, .footer .coordinator-section {
      margin-bottom: 20px;
  }

  .footer .map-section iframe {
      max-width: 100%;
  }
}