/* Section styling */

.saint-section {
    position: relative;
    background-image: url(../images/patronbg-cropped.jpg);
    display: flex;
    justify-content: center;
    padding: 50px 20px;
}

/* Container for image and text */
.saint-container {
    display: flex;
    width: 100%;
    gap: 40px;
    align-items: flex-start;
}

/* Image styling */
.saint-image {
    max-width: 320px;
    height: auto;
    margin-top: 5px;
    border-radius: 8px;
}

/* Text container styling */
.saint-text {
    color: aliceblue;
    max-width: 70vw;
}

/* Headline styling */
.saint-text h1 {
    color: aliceblue;
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Paragraph styling */
.saint-text p {
    color: aliceblue;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Quote styling */
.quote {
    font-style: italic;
    margin-top: 20px;
    color: #ddd;
}

/* Author styling */
.author {
    color: aliceblue;
    text-align: right;
    font-size: 16px;
    font-style: italic;
    margin-top: -10px;
}

