/* Social Media Buttons Start*/

.social-btns{
    position: fixed;
    margin-top: 25%;
    top: 0;
    right: 0;
    z-index: 2;
  }
  
  .social-btns a{
    text-decoration: none;
    display: block;
    margin: 0 10px;
    perspective: 200px;
    width: max-content;
  }
  .social-btns .box{
    margin: 10px;
    --box-size: 35px;
    display: block;
    height: var(--box-size);
    width: var(--box-size);
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(calc(var(--box-size) / -2));
    pointer-events: none;
    transition: transform 0.5s ease;
    border-radius: 20%;
  }
  
  .social-btns a:hover .box{
    transform: translateZ(calc(var(--box-size) / -2)) rotateX(90deg);
  }
  
  .social-btns .face{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .social-btns .front{
    background-color: #000;
    color: #fff;
    transform: translateZ(calc(var(--box-size) / 2));
  }
  .social-btns .bottom-f{
    background-color: hsl(229, 92%, 52%);
    color: white;
    transform: translateY(50%) rotateX(-90deg);
  }
  .social-btns .bottom-x{
    background-color: hsl(0, 0%, 0%);
    color: white;
    transform: translateY(50%) rotateX(-90deg);
  }
  .social-btns .bottom-i{
    background:  linear-gradient(yellow, rgb(236, 42, 42), rgb(246, 34, 140), rgb(223, 34, 223));
    color: white;
    transform: translateY(50%) rotateX(-90deg);
  }
  .social-btns .bottom-y{
    background-color: hsl(0, 100%, 50%);
    color: white;
    transform: translateY(50%) rotateX(-90deg);
  }
  
  .social-btns #ig{
    size: 10px;
  }
  /* Social Media Buttons End*/